<!DOCTYPE html>
<html lang="en">
<!-----------------------------Header---------------------------------->
<head>
  <%- include('partials/header-home') -%>
  <title>Page Sales</title>
</head>

<!-----------------------------Body---------------------------------->
<body>
  <!-------------------------Menu------------------------------------>
  <%- include('partials/menu') -%>

  <div class="row">
    <%- include('partials/row-left-sales') -%>

    <div class="main">
      <h2>Sales</h2>
      <table>
        <tr>
          <th><a>Month</a></th>
          <th><a>Revenue</a></th>
        </tr>

        <tr>
          <td>January: </td>
          <td><span><%= tableList[0].M1 %></span></td>
        </tr>

        <tr>
          <td>February: </td>
          <td><span><%= tableList[0].M2 %></span></td>
        </tr>

        <tr>
          <td>March: </td>
          <td><span><%= tableList[0].M3 %></span></td>
        </tr>

        <tr>
          <td>April: </td>
          <td><span><%= tableList[0].M4 %></span></td>
        </tr>

        <tr>
          <td>May: </td>
          <td><span><%= tableList[0].M5 %></span></td>
        </tr>

        <tr>
          <td>June: </td>
          <td><span><%= tableList[0].M6 %></span></td>
        </tr>

        <tr>
          <td>July: </td>
          <td><span><%= tableList[0].M7 %></span></td>
        </tr>

        <tr>
          <td>August: </td>
          <td><span><%= tableList[0].M8 %></span></td>
        </tr>

        <tr>
          <td>September: </td>
          <td><span><%= tableList[0].M9 %></span></td>
        </tr>

        <tr>
          <td>October: </td>
          <td><span><%= tableList[0].M10 %></span></td>
        </tr>

        <tr>
          <td>November: </td>
          <td><span><%= tableList[0].M11 %></span></td>
        </tr>

        <tr>
          <td>December: </td>
          <td><span><%= tableList[0].M12 %></span></td>
        </tr>
      </table>
    </div>
    
  </div>

  <!------------------------------------Footer----------------------------------------->
  <footer>
    <%- include('partials/footer') -%>
  </footer>


</body>
</html>